@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}
// hide name of column in rows of table
.tss-1ej321f-MUIDataTableBodyCell-cellHide {
  visibility: hidden;
  display: flex;
  width: 0px;
}
/* .tss-1t2q2nr-MUIDataTableBodyCell-stackedHeader {
  visibility: hidden;
  width: 0px;
}
.css-10odgc5-MuiButtonBase-root-MuiButton-root {
  padding: none;
} */
