@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply overflow-y-hidden;
  }
} */

.slider .thumb {
  width: 12px;
  height: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #000;
  background: #fff;
}
.slider {
  background-color: #6b7280;
}

.slider .example-track {
  height: 10px;
}
.example-track.example-track-1 {
  background: #2563eb;
  border-radius: 50%;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

/* html {
  scroll-behavior: smooth;
} */

// Animation on scroll

@animation appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.item {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 30% cover 70%;
}
